* {
    margin: 0;
    padding: 0;
}

.menu-container {
    background-color: rgb(195, 129, 239);
    color: rgb(34, 8, 49);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 1500px;
}

.sub-menu {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    font-size: 20px;
}

.header-container {
    background-color: rgb(195, 129, 239);
}
.header {

}

.photo-grid-container {

}
.photo-grid {

}

.quote-container {

}
.quote {

}

.product-container {

}
.product {

}

.footer-container {

}