* {
    margin: 0;
    padding: 0;
}

/*menu section below!*/

.menu-container {
    background-color: rgb(195, 129, 239);
    color: rgb(34, 8, 49);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 1200px;
}

.sub-menu {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 80px;
    font-size: 20px;
}

/*header section below!*/

.header-container {
    background-color: rgb(195, 129, 239);
    color:rgb(34, 8, 49);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content:space-between;
    width: 1200px;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 65px
}
.subheader {
    font-size: 20px;
    font-weight: 100;
}
.subheader strong {
    display: flex;
    flex-wrap: wrap;
    font-size: 42px;
    font-weight: 10px;
}
.button-photo {
   display: flex;
   justify-content: flex-start;
   border-radius: 12px;
   border: 1px solid rgb(41, 21, 61);
   background-color: rgb(138, 69, 175);
   width: 120px;
   height: 40px;
   padding-inline: 25px 25px;
   padding-top: 7px;
   margin-top: 10px;
}
.button-photo strong {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.main-pic {
    display: flex;
    justify-content: flex-end;
    border: 3px solid rgb(39, 27, 27);
    padding: 7px;
    background-color:rgb(158, 135, 135);
}

/*photo section below!*/

.sadie {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 110, 154);
    height: 60px;
    font-size: 45px;
    font-weight: 12px;
    padding: 35px;
}
.photo-grid-container {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 110, 154);
    padding-bottom: 80px;
}
.photo-grid {
    width: 1500px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid rgb(39, 27, 27);
    padding: 7px;
    background-color:rgb(161, 117, 181);
    margin-right: 500px;
    margin-left: 500px;
}

/*quote section below!*/

.quote-container {

}
.quote {

}

/*product section below!*/

.product-container {

}
.product {

}

/*footer section below!*/

.footer-container {

}